solutions/ITAuditHistoryV5/Workflows/2Button-InvokeanHTTPrequest-D9EF153E-CE8D-F011-B4CB-000D3A25D178.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents_5": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwebcontents_a1b22"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_webcontents_4": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwebcontents_a8bf8"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwebcontents_915d9"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "dac2e415-e81e-42fb-b57c-747b761f7dc3"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Parse_JSON_-_Main_Form_Fields": {
          "runAfter": {
            "Main_Form_Fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11a6769a-391a-45cb-8b2e-35693e87a00b"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Main_Form_Fields')",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "formxml": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "name": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Parse_JSON_-_Main_Form_Fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00d55f0d-0f34-42c4-8d7f-f95a0a1b0f08"
          },
          "type": "Compose",
          "inputs": "@xpath(\r\n   xml(\r\n      first(body('Parse_JSON_-_Main_Form_Fields')?['value'])?['formxml']\r\n   ),\r\n   '//control/@id'\r\n)"
        },
        "Select1": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "40146e40-b96b-43c9-b3e2-7e60d4cd3a6f"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Compose')",
            "select": {
              "FieldName": "@replace(replace(item(), 'id=\"', ''), '\"', '')"
            }
          }
        },
        "All_Lookups": {
          "runAfter": {
            "Select1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f8faf8d-f7d0-4d6d-9a75-b1f681f0b9f8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "request/method": "GET",
              "request/url": "https://auditweatherbys.crm4.dynamics.com/api/data/v9.2/EntityDefinitions(LogicalName='umer_horsemedicine')/Attributes/Microsoft.Dynamics.CRM.LookupAttributeMetadata?$select=LogicalName,Targets",
              "request/headers": {
                "Accept": "application/json",
                "OData-MaxVersion": "4.0",
                "OData-Version": "4.0"
              }
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
              "operationId": "InvokeHttp",
              "connectionName": "shared_webcontents_5"
            }
          }
        },
        "ParseLookups": {
          "runAfter": {
            "All_Lookups": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1931f3ff-40ae-494a-98ee-186f4d53d1dc"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('All_Lookups')",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "LogicalName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "Targets": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Select2": {
          "runAfter": {
            "ParseLookups": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7646e7db-ba9d-4e3a-b3f7-e2820b5b5f15"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('ParseLookups')?['value']",
            "select": {
              "LogicalName": "@item()?['LogicalName']",
              "Targets": "@item()?['Targets']"
            }
          }
        },
        "Filter_array": {
          "runAfter": {
            "Select2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2b63de0b-ce4d-48dc-a9b2-f0cb998873f9"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Select2')",
            "where": "@contains(\n   string(body('Select1')),\n   item()?['LogicalName']\n)"
          }
        },
        "Main_Form_Fields": {
          "runAfter": {
            "AllLookupData": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35144d6b-a1fb-4dff-8cf8-7e25ba443924"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "request/method": "GET",
              "request/url": "https://auditweatherbys.crm4.dynamics.com/api/data/v9.2/systemforms?$filter=(objecttypecode eq 'umer_horsemedicine' and type eq 2)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
              "operationId": "InvokeHttp",
              "connectionName": "shared_webcontents_4"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Filter_array')",
          "actions": {
            "Apply_to_each_Targets": {
              "foreach": "@items('Apply_to_each')?['Targets']",
              "actions": {
                "Metadata_HTTP": {
                  "metadata": {
                    "operationMetadataId": "07a14578-d1e0-4245-a03f-2853335f1e9b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "@concat(\r\n  'https://auditweatherbys.crm4.dynamics.com/api/data/v9.2/EntityDefinitions(LogicalName=''',\r\n  items('Apply_to_each_Targets'),\r\n  ''')?$select=PrimaryIdAttribute,PrimaryNameAttribute,EntitySetName'\r\n)"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents"
                    }
                  }
                },
                "HTTP_-_Fetch_Records": {
                  "runAfter": {
                    "Metadata_HTTP": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4b0e8f87-6b99-4593-a733-354dfbc64a29"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "@concat(\r\n  'https://auditweatherbys.crm4.dynamics.com/api/data/v9.2/',\r\n  body('Metadata_HTTP')?['EntitySetName'],\r\n  '?$select=',\r\n  body('Metadata_HTTP')?['PrimaryIdAttribute'],\r\n  ',',\r\n  body('Metadata_HTTP')?['PrimaryNameAttribute']\r\n)"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                      "operationId": "InvokeHttp",
                      "connectionName": "shared_webcontents"
                    }
                  }
                },
                "Select": {
                  "runAfter": {
                    "HTTP_-_Fetch_Records": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "12cb2f03-0b78-444f-a3f5-2009ab05a556"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('HTTP_-_Fetch_Records')?['value']",
                    "select": {
                      "id": "@item()?[\r\n  body('Metadata_HTTP')?['PrimaryIdAttribute']\r\n]",
                      "name": "@item()?[\r\n  body('Metadata_HTTP')?['PrimaryNameAttribute']\r\n]"
                    }
                  }
                },
                "Compose_1": {
                  "runAfter": {
                    "Select": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@json(\r\n  concat(\r\n    '{ \"',\r\n    items('Apply_to_each_Targets'),\r\n    '\":',\r\n    json(string(outputs('Select'))),\r\n    '}'\r\n  )\r\n)"
                },
                "Set_variable": {
                  "runAfter": {
                    "MergeLookupData": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AllLookupData",
                    "value": "@outputs('MergeLookupData')"
                  }
                },
                "MergeLookupData": {
                  "runAfter": {
                    "Compose_1": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@addProperty(variables('AllLookupData'), items('Apply_to_each_Targets'), body('Select'))"
                }
              },
              "metadata": {
                "operationMetadataId": "a92381af-5e05-46ec-9db4-35d6d40980b3"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Filter_array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c2bb42a-56dd-47b5-b714-5e4fc4d86258"
          },
          "type": "Foreach"
        },
        "AllLookupData": {
          "runAfter": {
            "TargetEntities": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AllLookupData",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "LookupColumns": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LookupColumns",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "TargetEntities": {
          "runAfter": {
            "LookupColumns": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TargetEntities",
                "type": "array",
                "value": []
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}